<h1>Lets get Fit!</h1>

<h3>Keep it going, you've attended # classes to date! </h3>
<div>
    <%=link_to "Upcoming Classes",klasses_path%>
</div>
<div>
    <%=link_to "Check out Your Favorite Instructors",instructors_path%>
</div>


<h3>Post a Class</h3>
<div>
    <%=link_to "Register as an Instructor",new_instructor_path%>
</div>
<div>
    <%=link_to "Post a Class",new_klass_path%>
</div>


<h3>Activity</h3>
