<h1>Instructors</h1>
<ul>
<%@instructors.each do |instructor|%>
    <li><%=link_to instructor.name, instructor_workouts_path(instructor)%></li>
    <%=instructor.location%><br>
    Bio: <%=instructor.bio%>
</ul>
<%end%>
